<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form  method="post">{%csrf_token%}
      <p>Ur balance {{balance}}</p>
      <label for="u">Recipient</label>
      <select name="user_id" id="u">
        {% for user in users %}
        <option value="{{user.id}}">{{user.username}}</option>
        {% endfor %}
      </select>
      <label for="">Amount</label>
      <input type="number" name="amount">
      
      <input type="submit">
    </form>
    <button href="{% url 'mine' %}">Mine</button>
    
  </body>
</html>
